@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.tabela-imc {
  width: 100%;
}

.tabela-imc td {
  width: 25%;
  border-bottom: 1px solid black;
}

.tabela-imc tr:hover {
  background-color: rgb(17, 86, 102);
  color: #fff;
  transition: all 0.3s linear;
}

.tabela-imc td:nth-child(even) {
  text-align: end;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.resultado {
  background-color: #fff;
}

@keyframes positivo-verde {
  from {background-color: #40ff40;}
  to {background-color: #fff;}
  from {opacity: 100%;}
  to {opacity: 0%;}
}

@keyframes cuidado-amarelo {
  from {background-color: #fff;}
  to {background-color: #fffc40;}
  from {opacity: 100%;}
  to {opacity: 0%;}
}

@keyframes negativo-vermelho {
  from {background-color: #fff;}
  to {background-color: #ff4040;}
  from {opacity: 100%;}
  to {opacity: 0%;}
}

@keyframes negativo-vermelho-errado {
  from {background-color: #fff;}
  to {background-color: #ff4040;}
}

@keyframes negativo-vermelho-errado-opacidade {
  from {opacity: 100%;}
  to {opacity: 0%;}
}

.resultado-1 {
  animation-name: positivo-verde;
  animation-duration: 0.7s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

.resultado-2 {
  animation-name: cuidado-amarelo;
  animation-duration: 0.7s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

.resultado-3 {
  animation-name: negativo-vermelho;
  animation-duration: 0.7s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

.resultado-4 {
  animation-name: negativo-vermelho-errado;
  animation-duration: 0.7s;
  animation-delay: 0;
  animation-iteration-count: 4;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation: negativo-vermelho-errado-opacidade 0.7s ease-in-out 0 1 reverse;
}
